<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.whatscloud"
          android:versionCode="10210"
          android:versionName="1.2.1"
          android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>

    <!-- Pushy Permissions -->

        <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- End Pushy Permissions -->

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="19" />

    <application
            android:name=".logic.global.App"
            android:label="@string/whatscloud"
            android:icon="@drawable/ic_launcher">

        <!-- This metadata tag is required to use Google Play Services -->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity android:name="com.whatscloud.activities.Main"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="stateHidden"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  android:theme="@style/Theme.WhatsCloud"
                  android:label="@string/whatscloud">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.whatscloud.activities.Splash"
                  android:launchMode="singleTask"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  android:label="@string/whatscloud"
                  android:theme="@style/Theme.WhatsCloud"
                  android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:name=".activities.SignIn"
                  android:launchMode="singleTask"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  android:label="@string/titleSignIn"
                  android:theme="@style/Theme.WhatsCloud"
                  android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:name=".activities.SignUp"
                  android:launchMode="singleTask"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  android:label="@string/titleSignUp"
                  android:theme="@style/Theme.WhatsCloud"
                  android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity android:name=".activities.tutorial.NoRoot"
                  android:launchMode="singleTask"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  android:label="@string/whatscloud"
                  android:theme="@style/Theme.WhatsCloud"
                  android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activities.tutorial.DeleteAccount"
                  android:launchMode="singleTask"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  android:label="@string/deleteAccount"
                  android:theme="@style/Theme.WhatsCloud"
                  android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity android:name=".activities.tutorial.SuperuserTutorial"
                  android:launchMode="singleTask"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  android:label="@string/titleSuperuserTutorial"
                  android:theme="@style/Theme.WhatsCloud"
                  android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity android:name=".activities.tutorial.NotificationAccessTutorial"
                  android:launchMode="singleTask"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  android:label="@string/titleNotificationAccessTutorial"
                  android:theme="@style/Theme.WhatsCloud"
                  android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity android:name="com.whatscloud.activities.recovery.RequestCode"
                  android:launchMode="singleTask"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  android:label="@string/resetPassword"
                  android:theme="@style/Theme.WhatsCloud"
                  android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:name="com.whatscloud.activities.recovery.VerifyCode"
                  android:launchMode="singleTask"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  android:label="@string/resetPassword"
                  android:theme="@style/Theme.WhatsCloud"
                  android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:name="com.whatscloud.activities.recovery.ResetPassword"
                  android:launchMode="singleTask"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  android:label="@string/resetPassword"
                  android:theme="@style/Theme.WhatsCloud"
                  android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <receiver android:name=".receivers.SyncScheduler">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name=".services.SyncService" />
        <service android:name=".services.SendService" />
        <service android:name=".listeners.NotificationListener"
                 android:label="@string/whatscloud"
                 android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- Pushy Declarations -->

            <!-- Notification Receiver -->
            <receiver android:name=".logic.push.PushReceiver" >
                <intent-filter>
                    <action android:name="pushy.me" />
                </intent-filter>
            </receiver>

            <!-- Pushy Socket Service -->
            <service android:name="me.pushy.sdk.services.PushySocketService"/>

            <!-- Pushy Boot Receiver -->
            <receiver android:name="me.pushy.sdk.receivers.PushyBootReceiver" >
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED"/>
                </intent-filter>
            </receiver>

        <!-- End Pushy Declarations -->

        <activity android:name="com.google.android.gms.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                  android:theme="@android:style/Theme.Translucent" />
    </application>
</manifest>
